.imagenesUsuario {
    min-height: 100px;
    max-height: 100px;
    object-position: center center;
    object-fit: contain;
    display: block;
}

.texto-accion {
    font-size: 14px;
    color: gray;
}